:root {
  --primary-color: #7cabd2;
  --secondary-color: #14386a;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(90deg, #33383C 32%, #ffffff 10%); */
  margin: auto;
  background-color: #a6daf6ca;
  /* Light mode background color */


}

/*  NAVBAR  */

header {
  padding: 1.7rem 0;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-content: center;
  background-color: #1b5382cc;
  transition: all .2s ease-in-out;
  color: #d7dcdf;
}

.logo a {
  font-size: 1.3rem;
  /* font-weight: 800; */
  color: #ffffff;
  text-decoration: none;
}

nav {
  z-index: 1;

}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: .97rem;
  /* font-weight: 700; */
  padding: 0.4rem 1.3rem;

}



#click {
  display: none;
}

.menu {
  display: none;
}


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/*NAVBAR*/

section {
  margin: 2rem 8.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 12rem auto;
}

.main h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #14386a;
}

.main h2 {
  color: #14386a;

}

.Information {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: auto;
  margin-top: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.7rem;
  color: white;
}

.social a {
  color: var(--secondary-color);
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 0.3rem;
  text-align: center;
  width: 27px;
  height: 25px;
  display: grid;
  place-items: center;

}

.social a:hover {
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px var(--secondary-color);
  border-color: var(--secondary-color);
  transition: all .3s ease-in-out;

}

/* IMAGE*/

.images {
  /* width: 25em;
    height: 25em; */
  border-radius: 50%;
  margin: auto;
}

/* .blue-bg-outer {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background: #33383C;
    display: grid;
    place-items: center;
} */

.white-bg {
  width: 21.875em;
  height: 21.875em;
  border-radius: 50%;
  /* background: #fff; */
  display: grid;
  place-items: center;
}

.blue-bg {
  width: 18.75em;
  height: 18.75em;
  border-radius: 50%;
  /* background: var(--primary-color); */
}

.blue-bg img {
  position: relative;
  bottom: 159px;
  right: 23px;
  width: 115%;
  border-radius: 10%;
}


/*BUTTON*/
.cv-btn {
  margin-top: 1.5rem;
  padding: 1em 2.5em;
  border-radius: 25px;
  background-color: #4177a4;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: 0;
}


@keyframes backcolor {

  100% {
    /* -webkit-text-stroke: 1px #33383C; */
    background-position: 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }

  section {
    margin: 0;
  }


}

@media screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }

  /* body {
        /* background: linear-gradient(180deg, #33383C 35%, #ffffff 10%); 
    } */

  .menu {
    display: block;
  }

  .menu {
    font-size: 1.5rem;
    /* color: #000000; */
  }

  header {
    padding: 0.8rem 1rem;
    justify-content: space-between;
  }

  nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-color);
    left: -100%;
    width: 100%;
    top: 3rem;
    transition: all 0.1s ease;
  }

  nav a {
    color: #fff;
  }

  #click:checked~nav {
    left: 0;
  }

  .Information {
    align-items: start;
  }

}

@media only screen and (max-width: 480px) {

  section {
    margin: 0 1rem;
  }

  .images {
    min-width: 15em;
  }

  /* .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;

    } */

  .white-bg {
    width: 16.875em;
    height: 16.875em;
  }

  .blue-bg {
    width: 12.75em;
    height: 12.75em;
  }

}

@media only screen and (max-width: 320px) {
  .images {
    height: 17em;
  }

  .blue-bg-outer {
    width: 16em;
    height: 16em;

  }

  .white-bg {
    width: 13em;
    height: 13em;
  }

  .blue-bg {
    width: 11em;
    height: 11em;
  }

  .blue-bg img {
    position: relative;
    bottom: 20px;
    right: 10px;
    width: 100%;
  }
}



#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: #005194;
}

/*
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
   */
.btn-color-1,
.btn-color-2:hover {
  background: rgb(0, 140, 255);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

/* .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
   */
.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-top: 10px;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.8rem;
  flex: 1;
  background: #e1f1ff;
  /* box-shadow: #001e37; */
  border-radius: 2rem;
  /* border: rgb(53, 53, 53) 0.1rem solid; */
  border-color: rgb(116, 138, 166);
  text-align: center;
}

/* .details-container:hover{
   background: rgba(108, 164, 175, 0.822);
  }
   */
.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  /* color: rgb(85, 85, 85); */
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

/* .color-container {
    border-color: rgb(116, 138, 166);
    background: rgb(250, 250, 250);
  } */

.project-img {
  border-radius: 10px;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  background-color: #1b5482f7;
  color: #ffffff;
  /* border-color: #005194; */
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}


.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  /* border: rgb(53, 53, 53) 0.1rem solid; */
  /* border-color: rgb(58, 128, 219); */
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  background: #e1f1ff;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  /* color: #fff; */
}

.contact-info-container .contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  padding: auto;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* mobile view */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {

  #contact,
  footer {
    height: 40vh;

  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .foote {
    height: 50px;
    align-items: center;
  }

  #contact-form {
    background: #e1f1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 20px;
  }

  .form1 {
    width: 79%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 13rem;
  }

  .input1,
  textarea {
    width: 110%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }



}

.foote {
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-content: center;
  background-color: #1b5382cc;
  /* transition: all .2s ease-in-out; */
  color: #d7dcdf;
  font-size: large;
  align-items: center;

}



/* Contact Form */
#contact-form {
  background: #e1f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 20px;
}

form {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

}

h1 {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  align-self: center;
  cursor: pointer;
}

label {
  padding: 0.5rem;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}